.caretTrackingTextarea, .textareaMirror {
    position:absolute;
    top:0;
    left:0;
    font:14px/1 monospace;
    padding:5px;
    border:1px solid #999;
    white-space:pre;
    margin:0;
    background:transparent;
    width:300px;
    max-width:300px;
}
.caretTrackingTextarea {
    z-index:2;
    min-height:200px;
}
.textareaMirror {
    border-color:transparent;
}
.textareaMirror span {
    opacity:0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.textareaCaretTracker {
    position:absolute;
    width:4px;
    height:4px;
    background:#f00;
}